<?xml version="1.0" encoding="UTF-8"?>
<CodeList xmlns="urn:fdc:difi.no:2017:vefa:structure:CodeList-1">

    <Title><%= title %></Title>
    <Identifier><%= identifier %></Identifier>
    <Version><%= version %></Version>
    <Agency><%= agency %></Agency>
    <!-- <Subset></Subset> -->

    <!--
        Single code example:

        <Code>
            # Code identifier here:
            <Id>true</Id>
            # Name of the code here:
            <Name>True</Name>
            # Optional description of the code here:
            <Description>Opposite of 'false'.</Description>
        </Code>

        Repeat the Code block for each code in the code list.
    -->

</CodeList>